@{
    Layout = "~/Views/Shared/_Layout.cshtml";//pulls the global layout structure...
}



@{
    ViewBag.Title = "Store Front";
}

<h2>@ViewBag.Title</h2>

<p>Welcome to our Store Template!</p>


<p>Feel free to browse our catalogue @Html.ActionLink("here","Index","Musics")</p>